.Block1{
    background-color: coral;
    width: 1600px;
    height: 780px;
    display: flex;
    align-items: center;
    border-radius: 25px;
   
}

.Block1 h1{
    text-;
}

.block2{
    background: rgb(255, 255,255);
    width: 310px;
    height: 110px;
    text-align: center;
    margin-left: 40px;
    padding: 30px;
    padding-bottom: 280px;
    margin-top: 180px;
    border-radius: 30px;
}


.block2 h5, h1, p{
    font-size: x-large;
    margin-top: 50px;
}


.block2 h1{
    font-size: 55px;
}
   

.block3{
    background: rgb(255,255,255);
    width: 390px;
    height: 110px;
    margin-left: 60px;
    padding: 30px;
    padding-bottom: 380px;
    margin-top: 90px;
    border-radius: 30px;
    text-align: center;

}

.block3 h1 {
    font-size: 50px;
    
}

.block3 h5{
    font-size: x-large;
    color: rgb(244, 100, 119); ;
}


.block4{
    background: rgb(255,255 , 255);
    width: 400px;
    height: 120px;
    margin-left: 60px;
    padding: 30px;
    padding-bottom: 480px;
    border-radius: 30px;
    text-align: center;
}


.block4 h1{
    font-size: 50px;
}

.block4 h5{
    font-size: x-large;
    color: rgb(244, 100, 119);
}

.block2 h5{
    color: rgb(244, 100, 119);;
}

h5{
    cursor: pointer;
}